body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    padding: 20px;
    width: 50%;
}

#paragraph {
    padding: 20px;
    border: 1px solid black;
}

#targetnumber {
    margin: 20px;
    padding: 20px;
    border: 1px solid green;
}