body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    padding: 20px;
    width: 60%;
    align-content: center;
    background-image: url('../images/pattern.png');
    background-repeat: repeat;
}

#paragraph {
    margin: 20px;
    padding: 20px;
    border: 1px solid #debbf5;
    background-color: #e0e0eb;
}

#targetnumber {
    margin: 20px;
    padding: 20px;
    border: 5px solid #debbf5;
    background-color: #dfff80;
    width: 30%;
}

.crystals {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.crystal {
    border: 5px solid #debbf5;
    height: 120px;
    width: 120px;
}

#totalscore {
    margin: 20px;
    padding: 20px;
    border: 5px solid #debbf5;
    background-color: #dfff80;
    width: 30%;
}

#wins, #losses {
    padding: 10px;
    margin: 10px;
}